.home {
    /* padding: 2rem 0; */
    width: 100%;
    box-sizing: border-box;
    background-color: black;
  }
  
  .search-form {
    max-width: 600px;
    margin: 0 auto 2rem;
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
    box-sizing: border-box;
    background-color: black;
  }

  
  .search-input {
    flex: 1;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: white;
    font-size: 1rem;
  }
  
  .search-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #666;
  }
  
  .search-button {
    padding: 0.75rem 1.5rem;
    background-color: #e50914;
    color: white;
    border-radius: 4px;
    font-weight: 500;
    transition: background-color 0.2s;
    white-space: nowrap;
  }
  
  .search-button:hover {
    background-color: #f40612;
  }
  
  
  @media (max-width: 639px) {
    .home {
      padding: 1rem 0;
    }
  
    .search-form {
      margin-bottom: 1rem;
    }
  }
  
  .bet-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
  }

  .front-img-container {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .front-img-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0.3)); /* Correct gradient */
    pointer-events: none; /* Ensure interaction with the image */
}

.front-img-container img {
    display: block;
    width: 100%;
    height: auto;
}
  
  .front-img-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
  }
  
  /* Text Styling */
  .front-img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    z-index: 2; /* Ensure it's above the overlay */
    transition: font-size 0.2s ease-in-out; /* Smooth transition for font size */
  }
  
  /* Hover effect to increase text size */
  .front-img-container:hover .front-img-text {
    font-size: 32px; /* Increase the text size */
  }
  
  .bet-card-dropdown{
    padding: 10px;
    /* margin: 15px; */
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-color: #1a1a1a;
    transition: transform 0.2s;
    /* height: 100%; */
    height: 120px;
    width: 350px;
    display: flex;
    outline: #FFD700;
    outline-width: 3px;
    outline-style: solid;
    flex-direction: row;
  }