/* Main Leaderboard container */
.leaderboard {
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  font-family: 'Arial', sans-serif;
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack containers vertically */
}

/* Space between navbar and content */
.navbar-offset {
  height: 80px;
}

.top-players-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-image: url('src/css/images/web/leaderboard.jpg'); */
  background: 
        linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 80%), /* Gradient overlay */
        url('src/css/images/web/leaderboard.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px; /* Ensure section can expand */
  background-color: rgba(0, 0, 0, 0.5);
}


/* Title style */
.player-title {
  color: #3DADFF;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  margin-bottom: 20px;
  z-index: 2;
}

/* Player grid container */
.player-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Ensure it adapts on smaller screens */
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Player card style */
.player-card {
  background-color: #333;
  padding: 1.2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.player-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
}

.player-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #ff4c4c;
}

.player-card p {
  font-size: 1rem;
  color: black;
}

/* Loading spinner */
.loading {
  color: #ff4c4c;
  font-size: 1.2rem;
}

/* Top Bets section container */
.top-bets-container {
  padding: 2rem 1rem;
  background-color: black;
}

/* Title for top bets */
.bet-title {
  color: #3DADFF;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Bet grid container */
.leaderboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  background-color: #111;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.loading-container-leaderboard {
  height: 80vh;
  margin: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.loading-leaderboard {
  width: fit-content;
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff0;
  -webkit-text-stroke: 1px #FFC943;
  background: conic-gradient(#3DADFF 0 0) 0/0 100% no-repeat text;
  animation: l11 2s steps(21,jump-none) infinite;
}
.loading-leaderboard:before {
  content: "Loading leaderboards";
}
@keyframes l11 {
  to {background-size: 100% 100%}
}