/* Default navbar styles */
.navbar-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 28, 28, 1); /* Solid background when not scrolled */
}

/* Styles when scrolled */
.navbar-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 130, 130, 0.8), rgba(0, 28, 28, 1)); /* Translucent background when scrolled */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Stronger shadow when scrolled */
  transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}

.navbar-right, .navbar-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.navbar-center{
  background-color: white;
}

.navbar-left-items{
  font-size: 15;
  border-radius: 6px;
  padding: 0px 20px;
  color: #3DADFF;
  transition: background-color 0.2s;
  background-color: #ffc943 ;
  outline: #ffc943;
  outline-style: solid;
  margin-right: 25px;
}

.navbar-right-items{
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  height: 45px;
  color: #3DADFF;
  transition: background-color 0.2s;
  outline: #ffc943;
  outline-width: 3px;
  outline-style: solid;
  margin-right: 25px;
}

.nav-login{
  color:#ffc943;
  
}

.dropdown-username{
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  font-size: 15;
  border-radius: 6px;
  padding: 0px 20px;
  color: #3DADFF;
  transition: background-color 0.2s;
  background-color: #ffc943 ;
  outline: #ffc943;
  outline-style: solid;
  margin-right: 25px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  min-width: 150px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: left;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
